<html>
    <head>
        <title>About Us</title>

        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/aboutus.css">
        <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <header>
            <div class="header-logo">
                <h1>Message-X</h1>
            </div>
        

            <div class="header-link">
                <ul>
                    <li><a href="/signup">Sign up</a></li>
                    <li><a href="/signin">Sign in</a></li>
                    <li><a href="">About us</a></li>
                    
                </ul>
            </div>     

            <div class="menu">
                <div class="menu-bar"></div>
                <div class="menu-bar"></div>
                <div class="menu-bar"></div>
            </div> 
        </header>        


        <script>
            document.getElementsByClassName('menu')[0].addEventListener('click' , function(){
                let headerStyle = document.getElementsByClassName('header-link')[0].style.display;
                if(headerStyle == 'block'){
                    document.getElementsByClassName('header-link')[0].style.display ="none";
                } else{
                    document.getElementsByClassName('header-link')[0].style.display ="block";
                }
            });
        </script>


        <main>
            <div class="aboutus-box">
                <h2>Contact us</h2>
                <ul>
                    <li>
                        <p>Your feedback is vary valuable for us. Kindly drop you mail at:-</p>
                    </li>
                    <li>
                        <strong>mail@message-x.com</strong>
                    </li>
                </ul>
            </div>
        </main>
    </body>
</html>


