<html>
    <head>
        <title>About Us</title>

        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/aboutus.css">
        <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <header>
            <div class="header-logo">
                <h2><span>Message-</span>X</h2>
            </div>
        

            <div class="header-link">
                <ul>
                    <li><a href="/signup">Sign up</a></li>
                    <li><a href="/signin">Sign in</a></li>
                    <li><a href="">About us</a></li>
                    
                </ul>
            </div>     

            <div class="menu">
                <div class="menu-bar"></div>
                <div class="menu-bar"></div>
                <div class="menu-bar"></div>
            </div> 
        </header>        


        <main>
            <div class="aboutus-box">
                <h2>Contact us</h2>
                <ul>
                    <li>
                        <p>Your feedback is very valuable for us. Kindly drop you mail at:-</p>
                    </li>
                    <li>
                        <strong>mail@message-x.com</strong>
                    </li>
                </ul>
            </div>
        </main>

        <script src = "/js/navigation-bar.js"></script>
    </body>
</html>


