<html>
    <head>
        <title>About Us</title>

        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/aboutus.css">
        <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    </head>
    <body>
        
        <header>
            <div class="header-logo">
                <h1>Message-X</h1>
            </div>
        

            <div class="header-link">
                <ul>
                    <li><a href="/signup">Sign up</a></li>
                    <li><a href="/signin">Sign in</a></li>
                    <li><a href="">About us</a></li>
                    
                </ul>
            </div>     
        </header>        

        <main>
            <div class="aboutus-box">
                <h2>Contact us</h2>
                <ul>
                    <li>
                        <p>Your feedback is vary valuable for us. Kindly drop you mail at:-</p>
                    </li>
                    <li>
                        <strong>mail@message-x.com</strong>
                    </li>
                </ul>
            </div>
        </main>
    </body>
</html>


