<html>
    <head>
        <title>Message-X | Sign In</title>
        <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/sign_in.css">
        <link rel="stylesheet" href="/css/header.css">

        <meta name="viewport" content="width=device-width, initial-scale= 1">
    </head>
    <body>
        <header>
            <div class="header-logo">
                <h2><span>Message-</span>X</h2>
            </div>
           
        
            <div class="header-link">
                <ul>
                    <li><a href="/signup">Sign up</a></li>
                    <li><a href="/aboutus">About us</a></li>
                    <li><a href="/feedback">Feedback</a></li>        
                </ul>
            </div>

            <div class="menu">
                <div class="menu-bar"></div>
                <div class="menu-bar"></div>
                <div class="menu-bar"></div>
            </div>    
        </header>



        <div class="login-form">
            <h2><i class="fas fa-clipboard-list"  style="font-size:2rem; margin:1rem;"></i>Login</h2>

            <div class="signin_form">
                <form action="/create-session" method="POST">
                    <i class="fas fa-users icon"></i>
                    <input type="text" name="email" id="email" placeholder="Email" required><br>
                    
                    <div id="username-notification">
                        <i class="fas fa-info-circle"></i>
                    </div>

                    <i class="fas fa-key icon"></i>
                    <input type="password" name="password" placeholder="Password" required><br>
                    <input type="submit">
                </form>

                <a id ="link" href="/signup"><span id="forget-password">Forget password?</span></a>



                <div class="hr-box">
                    <hr id="hr1">
                    <p>or</p>
                    <hr id='hr2'>
                </div>

                <div class="social-authentication">
                    <!-- sign in with google -->
                    <a href="/users/auth/google">
                        <div class="google-sign-in social-sign-in">
                            <div class="google-sign">
                                <i class="fab fa-google"></i>
                            </div>
    
                            <div class="google-text">
                                <p>Sign in with Google</p>
                            </div>
    
                        </div>
                    </a>
                    

                    <!-- sign in with facebook -->
                    <!-- <div class="facebook-sign-in social-sign-in">
                        <div class="facebook-sign">
                            <i class="fab fa-facebook-f"></i>
                        </div>

                        <div class="facebook-text">
                            <p>Sign in with facebook</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

           


            
            <script src="https://kit.fontawesome.com/be3f777c45.js" crossorigin="anonymous"></script>
            <script src = "/js/navigation-bar.js"></script>
            <script src="/js/signin-authentication.js"> </script>
                

    </body>
  </html>
