<html>
    <head>
        <title>Message-X | Sign Up</title>
        <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/sign_up.css">
        <link rel="stylesheet" href="/css/header.css">
    </head>
    <body>

        <!-- this is the header -->
        <header>
            <div class="header-logo">
                <h1>Message-X</h1>
            </div>
           

            <div class="header-link">
                <ul>
                    <li><a href="/signin">Sign in</a></li>
                    <li><a href="/aboutus">About us</a></li>
                    <li><a href="/feedback">Feedback</a></li>
                    
                </ul>
            </div>     
        </header>





        <div class="signup-form-main">
            <h2><i class="far fa-user-circle" style="font-size:2rem; margin:1rem;"></i>Create a new account</h2>

            <div class="signup_form">
                <form action="/create-account" id ="sign_up_form" method="POST">
                    <i class="fas fa-file-signature icon"></i>
                    <input type="text" name="name" placeholder="Name" required><br>
                    <i class="fas fa-envelope-open-text icon"></i>
                    <input type="text" name="email"  placeholder="Email">

                    <div id="email-check">
                        <i class="fas fa-info-circle icon"></i>
                        <p>This email already exists.</p>
                    </div>
                    <br>

                    <i class="fas fa-users icon"></i>
                    <input type="text" name="username" placeholder="Username" required><br>
                    <i class="fas fa-key icon"></i>
                    <input type="password" name="password"  id="password" placeholder="Password" required>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required><br>
                    
                    <div id="password-check">
                        <i class="fas fa-info-circle icon"></i>
                        <p>password and confirm password must be same.</p>
                    </div>


                    <div id="otp-authentication">
                        <!-- <form action="/authenticateOTP?"></form> -->
                        <p style="margin-left: 2rem; font-weight: bold;">Check you mail</p>
                        <i class="fas fa-user-check"></i>
                       <input type="number" name="otp" id="otp" placeholder="Enter OTP">
                    </div>
                    
                    <input type="submit" value="Register" style="display: block;">
                </form>
            </div>

        </div>
            

            <script src="/js/signup-authentication.js"></script>

            <script src="https://kit.fontawesome.com/be3f777c45.js" crossorigin="anonymous"></script>

     </body>
</html>

