
<div style="display:block;  text-align: center; padding: 1rem; width: 100%;">
    <div class="content-box" style="display: inline-block; width: fit-content; margin : auto">
        <h2>Message-X</h2>
        <hr>
        <p>Your new password has beenset to:-</p>

        <h2 style="padding: .6rem; background-color: black; color: white; "><%= password %></h2>
        
        <p></p>  
        <a href="http://message-x.com">Click here to login to your account</a>

    </div>
</div>