<div style="display:inline-block; margin: auto; text-align: center; padding: 1rem; width: 100%vw; background-color: #eee;">
    <strong >Your OTP is :-</strong>
    <br><br>
    <p style="display: inline-block; padding : .6rem ; background-color: black; color: white; border-radius: 3px;"><%= otp %></p>
</div>