<div style="display:block;  text-align: center; padding: 1rem; width: 100%;">
    <div class="content-box" style="display: inline-block; width: fit-content; margin : auto">
        <h2>Message-X</h2>
        <hr>
        <p> To authenticate, please use the following One Time Password (OTP):</p>

        <h2><%= otp %></h2>
        
        Do not share this OTP with anyone.
        We hope to see you again soon.

    </div>
</div>