/* this is universall and included in every stylign page */

*{
    margin :0;
    padding :0;
    font-family: sans-serif;
    background-color: #E9EBEE;
}

body{
    text-align: center;

}


/* sign up and sign in page styling is exactly same */


#username-notification{
    display:none; 
    /* position: relative; */
    color: red; 
    margin-left: 1rem;
}

#username-notification p{
    display: inline-block;
}

.login-form{
    display: inline-block;
    padding:1rem;
    width: auto;
    height: auto;
    margin: 5rem;
    background-color:white;
    position: relative;
}


.signin_form{
    display: inline-block;
    margin: auto;
    text-align: left;
}

.signin_form input{
    width: 30rem;
    height: 2rem;
    padding: 1rem;
    margin : .5rem;
    text-align: center;
    border : 1px solid grey;
    border-radius: 3px;
}

.signin_form input[type=submit]{
    width: 7rem;
    height: auto;
    padding : .5rem;
    box-sizing: content-box;
    font-size: 1rem;
    cursor: pointer;
    border : 1px solid black;
}


.icon{
    position: absolute;
    /* padding: 10px; */
    margin:1rem;
    min-width: 40px;
} 


#forget-password{
    position: absolute;
    right: 5%;
    bottom: 18%;
    color: grey;
}



/* horizontal line style */
.hr-box{
    position: relative;
    margin-top: 1rem;
}

.hr-box p{
    position : absolute;
    left:50%;
    transform: translateX(-50%);
}

#hr1{
    width: 45%;
    top: .5rem;
    position: absolute;
}

#hr2{
    width:45%;
    right: 0;
    top: .5rem;
    position: absolute;
}


/* sign in with gooogle */
.social-authentication{
    position: relative;
}

.social-sign-in{
    display: flex;
    width: 10rem;
    margin-top :3rem;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: absolute;
}

.facebook-sign-in{
    width: 11rem;
    right: 0;
}


.menu{
    display: none;
}


@media screen and (max-width:600px){
    .heder-logo h1 span{
        display: none;
    }
    .menu{
        display: block;
    }

    .login-form{
        margin: 5rem 0;
        width:100%;
        padding: 0;
    }

    .signin_form{
        width: 90%;
        position: relative;
    } 

     .signin_form input{
        width: 100%;
        margin-left: 0;
    }

    .hr-box{
        width: 100%;
        /* overflow: hidden; */
    }


    #hr1{
        width: 40%;
        top: .5rem;
        position: absolute;
    }
    
    #hr2{
        width:40%;
        right: 0;
        top: .5rem;
        position: absolute;
    }
    
    #forget-password{
        position: absolute;
        right: 0;
        bottom: 18%;
    } 
}